body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to top, #3498db, #e74c3c);
    color: rgb(238, 102, 102);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Rest of the CSS remains the same */


.container {
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

#reset-button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
